
body{
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 50vh;
	align-items: center;
	background: url(vpwave.jpg);
	display: flex;
	text-align: center;
}
.container{
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	height: 375px;
	width: 500px;
	background-color: slateblue;
  	background-position: center;
  	border-radius: 35px;
}
#anakayam{
  height: 200px; width: 200px;
  
}

form{
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: monospace;
	font-size: 25px;
	text-align: center;
	color: white;
	align-items: center;
	background-color: slateblue;
	border-radius: 10px;
}

div{
	background: url(vpbackground.jpg);
	background-size: 800px 450px;
	background-repeat: no-repeat;
}

input{
	background-color: black;
	color: white;
}

button {
  background-color: purple;
  border: none;
  color: white ;
  width: 75px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}